<nav _ngcontent-c0="" class="navbar navbar-expand-lg navbar-light bg-dark" role="navigation">
  <ul _ngcontent-c0="" class="nav navbar-nav">
    <li _ngcontent-c0="">
      <a class="navbar-brand light-color" href="/home">CapMesh</a>
    </li>
    <li _ngcontent-c0="">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li _ngcontent-c0="">
      <app-search></app-search>
    </li>
    <div style="margin-left: 22em">

    </div>
    <li _ngcontent-c0="">
      <a _ngcontent-c0="" data-toggle="modal" routerLink='home'>
        <i _ngcontent-c0="" class="glyphicon glyphicon-home light-color"></i>
        <span class="light-color">Home</span>
      </a>
    </li>
    <li _ngcontent-c0="">
      <a _ngcontent-c0="" data-toggle="modal" routerLink="my-networks">
        <i _ngcontent-c0="" class="glyphicon glyphicon-cloud light-color"></i>
        <span class="light-color">My Network</span>
      </a>
    </li>
    <li _ngcontent-c0="">
      <a _ngcontent-c0="" data-toggle="modal" href="#postModal" role="button">
        <i _ngcontent-c0="" class="glyphicon glyphicon-briefcase light-color"></i>
        <span class="light-color"> Jobs</span>
      </a>
    </li>
    <li _ngcontent-c0="">
      <a _ngcontent-c0="" data-toggle="modal" routerLink="chats" role="button">
        <i _ngcontent-c0="" class="glyphicon glyphicon-comment light-color"></i>
        <span class="light-color"> Message</span>
      </a>
    </li>
    <li _ngcontent-c0="">
      <a _ngcontent-c0="" data-toggle="modal" routerLink="profile" role="button">
        <i _ngcontent-c0="" class="glyphicon glyphicon-user light-color"></i>
        <span class="light-color"> Me</span>
      </a>
    </li>
    <li _ngcontent-c0="">
        <a (click)='logout()'>
          <i _ngcontent-c0="" class="glyphicon glyphicon-off light-color"></i>
          <span class="light-color"> Log Out</span>
        </a>
      </li>
  </ul>
</nav>