<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<div id="education" class="alert ">
  

  <!-- Modal -->
  <div class="modal fade" id="myModalEdu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog"> -->
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">

          <h2 class="modal-title"><b>Add Education</b>

          </h2>

        </div>
        <div class="modal-body">
          <form #educationForm="ngForm">
            <div class="form-group">
              <h4>
                <label for="recipient-name" class="form-control-label">Degree Name</label>
                <input type="text" class="form-control" name="degname1" value="" [(ngModel)]='degreeName1' #DegreeName1='ngModel' required>
                 <div class="alert alert-danger" *ngIf="DegreeName1.touched && DegreeName1.invalid">Degree Name is required !!</div>
              </h4>
            </div>

            <div class="form-group">
              <h4>
                <label for="recipient-name" class="form-control-label">University</label>
                <input type="text" class="form-control" name="university1" value="" [(ngModel)]='universityName1' #UniversityName1='ngModel'
                  required>
                  <div class="alert alert-danger" *ngIf="UniversityName1.touched && UniversityName1.invalid">University Name is required !!</div>
              </h4>
            </div>

            <div class="form-group">
              <h4>
                <label for="recipient-name" class="form-control-label">Percentage</label>
                <input type="text" class="form-control" name="per1" value="" [(ngModel)]='percentage1' #Percentage1='ngModel' required>
                <div class="alert alert-danger" *ngIf="Percentage1.touched && Percentage1.invalid">Percentage is required !!</div>

              </h4>
            </div>

            <div class="form-group">
              <h4>
                <label for="recipient-name" class="form-control-label">Year of passing</label>
                <input type="number" class="form-control" name="yop1" value="" [(ngModel)]='yearOfPassing1' #YearOfPassing1='ngModel' required>
                <div class="alert alert-danger" *ngIf="YearOfPassing1.touched && YearOfPassing1.invalid">Year of Passing is required !!</div>
              </h4>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="addEducation(educationForm,DegreeName1.value,UniversityName1.value,Percentage1.value,YearOfPassing1.value)">Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>


      </div>

    </div>
  </div>


  <div class="card">
    <h3 class="card-header">
    Education
     <a data-toggle="collapse" href="#bodyEdu" class="btn pull-right">
         <span class="glyphicon glyphicon-th-list"></span>
      </a>
    <span><a href="#myModalEdu" class="btn btn-default btn-sm" class="btn pull-right" *ngIf="this.auth.getUser() == userData[0].userName" data-toggle="modal">
          <span class="glyphicon glyphicon-plus"  ></span></a>
    </span>
  </h3>
    <div id="bodyEdu" class="card-body" class="collapse">

      <p>
        <a href="#">
                    <!--<img id="uniLogo" border="0" src="./assets/Koala.jpg" width="100" height="100">-->
                    </a>
      </p>
      <div id="cname">
        <!--<div>
          <button type="button" data-target="#myModaleditEdu" class="btn btn-default btn-sm" class="btn pull-right" data-toggle="modal">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        </div>-->
        <!-- Modal -->
        <div class="modal fade" id="myModaleditEdu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog"> -->
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header" style="padding:35px 50px;">

                <h2 class="modal-title"><b>Update Education</b>

                </h2>

              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <h4>
                      <label for="recipient-name" class="form-control-label">Degree Name</label>
                      <input type="text" class="form-control" name="degName" [(ngModel)]='degreeName' #DegreeName='ngModel'>
                    </h4>
                  </div>

                  <div class="form-group">
                    <h4>
                      <label for="recipient-name" class="form-control-label">University</label>
                      <input type="text" class="form-control" name="univName" [(ngModel)]='universityName' #UniversityName='ngModel'>
                    </h4>
                  </div>

                  <div class="form-group">
                    <h4>
                      <label for="recipient-name" class="form-control-label">Percentage</label>
                      <input type="text" class="form-control" name="per" [(ngModel)]='percentage' #Percentage='ngModel'>
                    </h4>
                  </div>
                  <div class="form-group">
                    <h4>
                      <label for="recipient-name" class="form-control-label">Year of passing</label>
                      <input type="number" class="form-control" name="yop" [(ngModel)]='yearOfPassing' #YearOfPassing='ngModel'>
                    </h4>
                  </div>

                </form>
              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="updateEducationDatabase(DegreeName.value,UniversityName.value,Percentage.value,YearOfPassing.value)">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>


            </div>

          </div>
        </div>
        <div *ngIf="userData.length">
          <div *ngFor="let data of userData[0].profile.education.reverse()">
            <span><h4>Degree :  {{data.degreeName}} </h4></span>
            <div>
              <span><button class="btn btn-default btn-sm" class="btn pull-right" *ngIf="this.auth.getUser() == userData[0].userName" (click)=removeEducation(data.educationId)><span class="glyphicon glyphicon-trash"> </span></button>
              </span>
              <h3>
                <button type="button" data-target="#myModaleditEdu" *ngIf="this.auth.getUser() == userData[0].userName" class="btn btn-default btn-sm" class="btn pull-right" data-toggle="modal"
                  (click)="updateEducation(data.educationId)">
            <!--<span><a href="#myModalEdu" class="btn btn-default btn-sm" class="btn pull-right" data-toggle="modal">-->
          <span class="glyphicon glyphicon-pencil" ></span></button>

              </h3>
              
            </div>
            <span><h4>University :  {{data.university}} </h4></span>
            <span><h4>Percentage :  {{data.percentage}} </h4></span>
            <span><h4>Year of Passing :  {{data.yearOfPassing}} </h4></span>
            <hr/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>